Repository ticapix/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**\" \"packages/**/*.html\""
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.{css,less,scss}": [
    "stylelint --fix",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "remark -qf ."
  ],
  "**/package.json": [
    "npx sort-package-json",
    "git add"
  ]
}

feat(pci.projects.new): first preview
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/src/projects/new/components/feature-flipping/feature-flipping.class.js
  packages/manager/modules/pci/src/projects/new/components/feature-flipping/index.js
  packages/manager/modules/pci/src/projects/new/components/feature-flipping/provider.js
  packages/manager/modules/pci/src/projects/new/components/index.js
  packages/manager/modules/pci/src/projects/new/components/progress/component.js
  packages/manager/modules/pci/src/projects/new/components/voucher/constants.js
  packages/manager/modules/pci/src/projects/new/components/voucher/controller.js
  packages/manager/modules/pci/src/projects/new/components/voucher/index.html
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/components/voucher/voucher.class.js
  packages/manager/modules/pci/src/projects/new/config/routing.js
  packages/manager/modules/pci/src/projects/new/controller.js
  packages/manager/modules/pci/src/projects/new/module.js
  packages/manager/modules/pci/src/projects/new/order-cart.service.js
  packages/manager/modules/pci/src/projects/new/payment/components/challenge/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/challenge/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/credit/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/credit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/payment/components/default/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/dlp/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/dlp/index.js
  packages/manager/modules/pci/src/projects/new/payment/routing.js
  packages/manager/modules/pci/src/projects/new/routing.js
  packages/manager/modules/pci/src/projects/new/service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

fix(pci.projects.new): create project with default payment method
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/modules/pci/src/projects/new/payment/component.js
  packages/manager/modules/pci/src/projects/new/payment/controller.js
  packages/manager/modules/pci/src/projects/new/payment/index.html
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(pci.projects.new): use ovh-contracts-summary for contracts display
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/new/config/index.html
  packages/manager/modules/pci/src/projects/new/config/index.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

fix(pci.project.private-registry): stop using new service
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.service.js
Due: eslint --fix

feat(web): migrate email activate to agora
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/hosting/email/activate/activate.component.js
  packages/manager/apps/web/client/app/hosting/email/activate/activate.constants.js
  packages/manager/apps/web/client/app/hosting/email/activate/activate.controller.js
  packages/manager/apps/web/client/app/hosting/email/activate/activate.html
  packages/manager/apps/web/client/app/hosting/email/activate/activate.module.js
  packages/manager/apps/web/client/app/hosting/email/activate/activate.routing.js
  packages/manager/apps/web/client/app/hosting/email/activate/index.js
  packages/manager/apps/web/client/app/hosting/email/activate/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/email/hosting-email.service.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/hosting.routes.js
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(*): upgrade ovh-api-services to 9.28.0
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Due: npx sort-package-json

refactor(web): use global component instead of scoped one
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/components/manager-order-contracts/index.js
  packages/manager/apps/web/client/app/components/manager-order-contracts/manager-order-contracts.component.js
  packages/manager/apps/web/client/app/components/manager-order-contracts/manager-order-contracts.controller.js
  packages/manager/apps/web/client/app/components/manager-order-contracts/manager-order-contracts.html
  packages/manager/apps/web/client/app/components/manager-order-contracts/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/components/manager-order-contracts/translations/Messages_fi_FI.json
  packages/manager/apps/web/client/app/components/manager-order-contracts/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/components/manager-order-contracts/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/manager-order-contracts/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/components/manager-order-contracts/translations/Messages_lt_LT.json
  packages/manager/apps/web/package.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

fix(drp): fix use of preference key
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

fix(pci.projects.new): refresh location without cartId param
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/modules/pci/src/projects/new/payment/components/credit/index.html
  packages/manager/modules/pci/src/projects/new/routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(pci.projects.new): avoid add payment method if not required
  packages/manager/modules/pci/src/projects/new/payment/components/register/controller.js
  packages/manager/modules/pci/src/projects/new/payment/components/register/index.html
  packages/manager/modules/pci/src/projects/new/payment/controller.js
  packages/manager/modules/pci/src/projects/new/payment/index.html
  packages/manager/modules/pci/src/projects/new/routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(drp): factorize method and clean useless injections
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(pci.projects.new): manage responsive and some bugs
  packages/manager/modules/pci/src/projects/creating/index.scss
  packages/manager/modules/pci/src/projects/new/components/voucher/component.js
  packages/manager/modules/pci/src/projects/new/components/voucher/controller.js
  packages/manager/modules/pci/src/projects/new/components/voucher/index.html
  packages/manager/modules/pci/src/projects/new/components/voucher/index.scss
  packages/manager/modules/pci/src/projects/new/index.scss
  packages/manager/modules/pci/src/projects/new/payment/controller.js
  packages/manager/modules/pci/src/projects/new/payment/index.html
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint --fix

fix(licence): cpanel options are not human redable
  packages/manager/apps/dedicated/client/app/license/order/license-order.controller.js
  packages/manager/apps/dedicated/client/app/license/order/license-order.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(pci.projects.new): pr comments and disabling fields during finalize
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/modules/pci/src/projects/creating/index.html
  packages/manager/modules/pci/src/projects/creating/module.js
  packages/manager/modules/pci/src/projects/creating/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/components/voucher/component.js
  packages/manager/modules/pci/src/projects/new/components/voucher/index.html
  packages/manager/modules/pci/src/projects/new/payment/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/challenge/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/challenge/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/credit/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/credit/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/register/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/register/index.html
  packages/manager/modules/pci/src/projects/new/payment/controller.js
  packages/manager/modules/pci/src/projects/new/payment/index.html
  packages/manager/modules/pci/src/projects/new/routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(pcc): enable zerto for US accounts
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/legacy/legacy.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/legacy/legacy.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/tiles/options/options.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/tiles/options/options.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/tiles/options/options.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedCloud.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(web): update private-sql activation
  packages/manager/apps/web/client/app/hosting/database/DATABASE_LIST.html
  packages/manager/apps/web/client/app/hosting/database/private-activation/database-private-activation.controller.js
  packages/manager/apps/web/client/app/hosting/database/private-activation/database-private-activation.html
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/index.js
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.component.js
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.controller.js
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.html
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.routing.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/hosting.module.js
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(vps): remove uib modal backup storage
  packages/manager/modules/vps/src/backup-storage/add/add-backup-storage.component.js
  packages/manager/modules/vps/src/backup-storage/add/add-backup-storage.controller.js
  packages/manager/modules/vps/src/backup-storage/add/add-backup-storage.html
  packages/manager/modules/vps/src/backup-storage/add/add-backup-storage.routing.js
  packages/manager/modules/vps/src/backup-storage/add/index.js
  packages/manager/modules/vps/src/backup-storage/delete/delete-backup-storage.component.js
  packages/manager/modules/vps/src/backup-storage/delete/delete-backup-storage.controller.js
  packages/manager/modules/vps/src/backup-storage/delete/delete-backup-storage.html
  packages/manager/modules/vps/src/backup-storage/delete/delete-backup-storage.routing.js
  packages/manager/modules/vps/src/backup-storage/delete/index.js
  packages/manager/modules/vps/src/backup-storage/edit/edit-backup-storage.component.js
  packages/manager/modules/vps/src/backup-storage/edit/edit-backup-storage.controller.js
  packages/manager/modules/vps/src/backup-storage/edit/edit-backup-storage.html
  packages/manager/modules/vps/src/backup-storage/edit/edit-backup-storage.routing.js
  packages/manager/modules/vps/src/backup-storage/edit/index.js
  packages/manager/modules/vps/src/backup-storage/index.js
  packages/manager/modules/vps/src/backup-storage/password/index.js
  packages/manager/modules/vps/src/backup-storage/password/password-backup-storage.component.js
  packages/manager/modules/vps/src/backup-storage/password/password-backup-storage.controller.js
  packages/manager/modules/vps/src/backup-storage/password/password-backup-storage.html
  packages/manager/modules/vps/src/backup-storage/password/password-backup-storage.routing.js
  packages/manager/modules/vps/src/backup-storage/vps-backup-storage.component.js
  packages/manager/modules/vps/src/backup-storage/vps-backup-storage.controller.js
  packages/manager/modules/vps/src/backup-storage/vps-backup-storage.html
  packages/manager/modules/vps/src/backup-storage/vps-backup-storage.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(vps): remove uib modal monitoring
  packages/manager/modules/vps/src/monitoring/index.js
  packages/manager/modules/vps/src/monitoring/vps-monitoring.controller.js
Due: eslint --fix

refactor(vps): remove uib modal secondary dns
  packages/manager/modules/vps/src/secondary-dns/add/add-secondary-dns.component.js
  packages/manager/modules/vps/src/secondary-dns/add/add-secondary-dns.controller.js
  packages/manager/modules/vps/src/secondary-dns/add/add-secondary-dns.html
  packages/manager/modules/vps/src/secondary-dns/add/add-secondary-dns.routing.js
  packages/manager/modules/vps/src/secondary-dns/add/index.js
  packages/manager/modules/vps/src/secondary-dns/delete/delete-secondary-dns.component.js
  packages/manager/modules/vps/src/secondary-dns/delete/delete-secondary-dns.controller.js
  packages/manager/modules/vps/src/secondary-dns/delete/delete-secondary-dns.html
  packages/manager/modules/vps/src/secondary-dns/delete/delete-secondary-dns.routing.js
  packages/manager/modules/vps/src/secondary-dns/delete/index.js
  packages/manager/modules/vps/src/secondary-dns/index.js
  packages/manager/modules/vps/src/secondary-dns/vps-secondary-dns.component.js
  packages/manager/modules/vps/src/secondary-dns/vps-secondary-dns.controller.js
  packages/manager/modules/vps/src/secondary-dns/vps-secondary-dns.html
  packages/manager/modules/vps/src/secondary-dns/vps-secondary-dns.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(vps): remove uib modal veeam
  packages/manager/modules/vps/src/veeam/index.js
  packages/manager/modules/vps/src/veeam/modal/mount/index.js
  packages/manager/modules/vps/src/veeam/modal/mount/vps-mount.component.js
  packages/manager/modules/vps/src/veeam/modal/mount/vps-mount.controller.js
  packages/manager/modules/vps/src/veeam/modal/mount/vps-mount.html
  packages/manager/modules/vps/src/veeam/modal/mount/vps-mount.routing.js
  packages/manager/modules/vps/src/veeam/modal/restore/index.js
  packages/manager/modules/vps/src/veeam/modal/restore/vps-restore.component.js
  packages/manager/modules/vps/src/veeam/modal/restore/vps-restore.controller.js
  packages/manager/modules/vps/src/veeam/modal/restore/vps-restore.html
  packages/manager/modules/vps/src/veeam/modal/restore/vps-restore.routing.js
  packages/manager/modules/vps/src/veeam/vps-veeam.component.js
  packages/manager/modules/vps/src/veeam/vps-veeam.controller.js
  packages/manager/modules/vps/src/veeam/vps-veeam.html
  packages/manager/modules/vps/src/veeam/vps-veeam.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(vps): apply prettier to html
  packages/manager/modules/vps/src/backup-storage/add/add-backup-storage.html
  packages/manager/modules/vps/src/backup-storage/delete/delete-backup-storage.html
  packages/manager/modules/vps/src/backup-storage/edit/edit-backup-storage.html
  packages/manager/modules/vps/src/backup-storage/password/password-backup-storage.html
  packages/manager/modules/vps/src/backup-storage/vps-backup-storage.html
  packages/manager/modules/vps/src/dashboard/modal/display-ips/vps-display-ips.html
  packages/manager/modules/vps/src/dashboard/modal/kvm/novnc/novnc.html
  packages/manager/modules/vps/src/dashboard/modal/kvm/vps-kvm.html
  packages/manager/modules/vps/src/dashboard/modal/password/vps-password.html
  packages/manager/modules/vps/src/dashboard/modal/reboot/vps-reboot.html
  packages/manager/modules/vps/src/dashboard/modal/reinstall/vps-reinstall.html
  packages/manager/modules/vps/src/dashboard/modal/reverse-dns/vps-reverse-dns.html
  packages/manager/modules/vps/src/dashboard/modal/snapshot-delete/snapshot-delete.html
  packages/manager/modules/vps/src/dashboard/modal/snapshot-restore/snapshot-restore.html
  packages/manager/modules/vps/src/dashboard/modal/snapshot-take/snapshot-take.html
  packages/manager/modules/vps/src/dashboard/modal/terminate-option/vps-option-terminate.html
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/secondary-dns/add/add-secondary-dns.html
  packages/manager/modules/vps/src/secondary-dns/delete/delete-secondary-dns.html
  packages/manager/modules/vps/src/veeam/modal/mount/vps-mount.html
  packages/manager/modules/vps/src/veeam/modal/restore/vps-restore.html
  packages/manager/modules/vps/src/veeam/vps-veeam.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"
